"""{{ package_name_py }}."""

import warnings

from loguru import logger

from importlib.metadata import version

__version__ = version(__package__)

__version__ = '0.0.1'
__pkg_name__ = '{{ package_name_py }}'

logger.disable(__pkg_name__)
